html, body {
    margin: 0;
    padding: 0;
}

#googleMap {
    position: absolute;
    height: 100%;
    width: 100%;
}


.markerPoi {
    color: white;
    background-color: green;
    font-family: "Calibri"; /*"Lucida Grande", "Arial", sans-serif;*/
    font-size: 12px;
    text-align: center;
    margin: 0px 2px 2px 2px;
    padding: 0px 2px 2px 2px;
    /*border: 1px solid #FFFFFF;*/
    border-radius: 5px;
    max-width: 60px;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
    z-index: 0;
}

.markerGeofence {
    color: white;
    background-color: blue;
    font-family: "Calibri"; /*"Lucida Grande", "Arial", sans-serif;*/
    font-size: 12px;
    text-align: center;
    margin: 0px 2px 2px 2px;
    padding: 0px 2px 2px 2px;
    /*border: 1px solid #FFFFFF;*/
    border-radius: 5px;
    max-width: 60px;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.divTracker {
    z-index: 10;
}

    .divTracker .labelTracker {
        display: block;
        color: white;
        background-color: black;
        font-family: "Calibri"; /*"Lucida Grande", "Arial", sans-serif;*/
        font-size: 12px;
        text-align: center;
        margin: 0px 2px 2px 2px;
        padding: 0px 2px 2px 2px;
        /*border: 1px solid #FFFFFF;*/
        border-radius: 5px;
        max-width: 60px;
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -pre-wrap; /* Opera <7 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* IE */
    }

    .divTracker .imgTrackerAlarm {
        background-color: transparent;
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 1;
    }

    .divTracker .imgTrackerVehicle {
        display: block;
        width: 48px;
        height: 48px;
    }
