html, body {
    margin: 0;
    padding: 0;
}

#googleMap {
    position: absolute;
    height: 100%;
    width: 100%;
}


.markerPoi {
    color: white;
    background-color: green;
    font-family: "Calibri"; /*"Lucida Grande", "Arial", sans-serif;*/
    font-size: 10px;
    text-align: center;
    margin: 1px 2px 2px 2px;
    padding: 1px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    max-width: 60px;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}


.divTracker {
}

    .divTracker .labelTracker {
        display: block;
        color: white;
        background-color: black;
        font-family: "Calibri"; /*"Lucida Grande", "Arial", sans-serif;*/
        font-size: 10px;
        text-align: center;
        margin: 1px 2px 2px 2px;
        padding: 1px 2px 2px 2px;
        border-radius: 5px;
        border: 1px solid #FFFFFF;
        max-width: 60px;
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -pre-wrap; /* Opera <7 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* IE */
    }

    .divTracker .imgTrackerAlarm {
        position: absolute;
        width: 16px;
        height: 16px;
        z-index: 1;
    }

    .divTracker .imgTrackerVehicle {
        display: block;
        width: 32px;
        height: 32px;
        z-index: 0;
    }
